:root {
    --vp-c-green: #60a5fa;
    --vp-c-green-light: #60a5fa;
    --vp-c-green-lighter: #60a5fa;

    --vp-c-green-dark: #3b82f6;
    /* --vp-c-green-darker: #d00; */
    --vp-home-hero-name-color: #60a5fa;
}
